/* -------------------------------------------------------------- 
  
   Boilerplate Screen Styles
   * Version:   0.5 (2007-11-19)
   * For desktop browsers; the iPhone also uses this media type
   
-------------------------------------------------------------- */

/* Page
-------------------------------------------------------------- */

html { overflow-y: scroll; }

/* Header
-------------------------------------------------------------- */

header {
  padding: 10px;
  margin: 15px 0;
}

header, .main, section {
  background: #ffffff;
  border: 1px solid #EEE;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

header:after, section:after, #chirps li:after {
  clear: both;
  content: "";
  display: table;
}

#profile {
    display: block;
    height: 100%;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

#wrapper {
    float: right;
    text-align: right;
}

/* Body
-------------------------------------------------------------- */

body {
    background: url(../img/background.png);
    background-attachment:fixed;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    width: 800px;
}

/* Default fonts and colors. */

body, h1, h2 {
    font-family: Helvetica Neue, Arial, sans-serif;
}

/* Footer
-------------------------------------------------------------- */
